body {
  font-family: verdana;
  background-color: black;
  font-weight: normal;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: #FFFFFF;
  text-align: center;
}

h4 a {
  font-size: 16px;
  color: aquamarine;
}
